.dropzone {
    display: inline-flex;
    border: 1px dashed #a7b4bc;
    padding: 15px;
    border-radius: 5px;
}
.dropzone.active {
    border-color: #007bff;
}
.dropzone .dropzone-text {
    line-height: 42px;
    margin-right: 25px;
    font-size: 18px;
    color: #a7b4bc;
}
.dropzone .dropzone-text img {
    margin-right: 15px;
}
.dropzone button {
    padding-left: 20px;
    padding-right: 20px;
}

.download-button-wrapper {
    padding-top: 16px;
}
.download-button-wrapper button {
    
    line-height: 34px;
}



.file-upload .upload-bar {
    height: 20px;
}
.file-upload .upload-bar-wrapper .controls {
    float: left;
    margin-right: 10px;
    margin-top: -3px;
}

.file-upload .upload-bulk-info{
    transition: 100ms all;
    max-height: 600px;
    overflow: hidden;
}
.file-upload .upload-bulk-info.hidden {
    visibility: hidden;
    max-height: 0;
}


.file-list-table .file-list-item {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin-top: 20px;
    border-radius: 5px;
}
.file-list-table .file-list-item > div {
    padding-top: 10px;
    padding-bottom: 10px;
}